*
{
  box-sizing: border-box;
}
/* ================ */
/* ===== BODY ===== */
/* ================ */
html
{
  height: 100%;
  scroll-behavior: smooth;
}
.body
{
  margin: 0;
  padding: 0;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
.container
{
  max-width: 1240px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  /* border: 1px solid green; */
}
/* ==================== */
/* ==== SITE HEADER === */
/* ==================== */
.site-header
{
  background-color: rgba(246, 246, 246, 1);
  padding-top: 30px;
  padding-bottom: 30px;
  /* border: 3px solid red; */
}
.site-header-container
{
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}
.site-logo
{
  font-family: Rubik;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: rgba(114, 150, 238, 1);
  text-transform: uppercase;
  padding: 8px 6px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 7px;
  margin-right: 35px;
}
.currency
{
  display: flex;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
  color: rgba(85, 85, 85, 1);
  padding: 0;
  margin: 0;
}
.currency-type
{
  color: rgba(41, 89, 206, 1);
}
.currency-list:not(:last-child)
{
  margin-right: 25px;
}
.search
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  border-radius: 60px;
  background-color: #fff;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(85, 85, 85, 1);
  margin-left: 247px;
}
.language-changer
{
  /* max-width: 70px; */
  /* width: 100%; */
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 12px;
  padding-left: 10px;
  border-radius: 39px;
  background-color: rgba(220, 230, 255, 1);
  margin-right: 25px;
  margin-left: 25px;
}
.uz
{
  font-family: Rubik;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color:  rgba(0, 0, 0, 1);
  padding: 9px 7px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.ru
{
  font-family: Rubik;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(166, 166, 166, 1);
  text-decoration: none;
}
.main-link
{
  padding: 13px 20px;
  border-radius: 10px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  background-color: rgba(114, 150, 236, 1);
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}


/* ==================== */
/* ==== SITE HERO   === */
/* ==================== */
.site-nav
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 3px solid red; */
  padding: 0;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.site-nav-item
{
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  list-style: none;
}
.site-nav-link
{
  color: rgba(127, 127, 127, 1);
  text-decoration: none;
}
.site-hero-line
{
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  color: rgba(209, 209, 209, 1);
  height: 1px;
}
.site-hero-img
{
  display: flex;
  border-radius: 8px;
}

/* ====== NEWS ======= */
.site-hero-content
{
  width: 100%;
  /* border: 3px solid red; */
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.site-hero-content-box
{
  display: flex;
  flex-direction: column;
  width: 390px;
  /* border: 3px solid green; */
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-right: 17px;
  padding-left: 17px;
}

.site-hero-content-heading
{
  padding: 0;
  margin: 0;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}
.site-hero-content-heading-1
{
  max-width: 358px;
  width: 100%;
}
.site-hero-content-heading-2
{
  max-width: 346px;
  width: 100%;
}
.site-hero-content-heading-6
{
  max-width: 338px;
  width: 100%;
}
.site-hero-link
{
  text-decoration: none;
}
.site-hero-content-text
{
  max-width: 346px;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(74, 75, 76, 1);
  margin-bottom: 15px;
}
.site-hero-content-text:nth-child(3n)
{
  max-width: 354px;
  width: 100%;
}
.site-hero-img
{
  margin-bottom: 18px;
}
span
{
  display: flex;
  align-items: center;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(94, 95, 97, 1);
}
span img
{
  margin-right: 10px;
}

/* NOTIFACATION */
.notification-box
{
  width: 1050px;
  display: flex;
  align-items: center;
  background-image: url("/img/notification-img.png");
  padding: 24px 29px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.notification-heading
{
  width: 404px;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  padding: 0;
  margin: 0;
  margin-right: 427px;
}
.notification-button
{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 13px 30px;
  background-color: #F78B3B;
  border-radius: 10px;
}

/* ================ */
/* ==== FEATURE === */
/* ================ */
.feature-content
{
  display: flex;
}
/* ============ SECTION A =========== */
.feature-content-section-a
{
  margin-right: 10px;
}

.feature-content-box-a
{
  display: flex;
  width: 797px;
  list-style: none;
  border-radius: 15px;
  background-color: rgba(246, 246, 246, 1);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
}
.feature-content-box-a
{
  margin-bottom: 10px;
}

.feature-content-box-a-item
{
  width: 535px;
  margin-left: 15px;

}
.content-box-a-heading
{
  margin: 0;
  padding: 0;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}
.content-box-a-heading-link
{
  text-decoration: none;
  color: #000000;
}
.content-box-a-heading-link:hover
{
  color: #7296EE;
}
.content-box-a-heading-link:active
{
  opacity: 0.6;
}
.content-box-a-text
{
  padding: 0;
  margin: 0;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #4A4B4C;
}
.feature-button
{
  display: flex;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-decoration: none;
  background-color: #EAEAEA;
  border-radius: 10px;
  padding: 17px 343px;
}
.feature-button:hover
{
   opacity: 0.8;
}
.feature-button:active
{
  opacity: 0.6;
}
/* ===== SECTION B ====== */
.feature-content-box-b
{
  width: 393px;
  height: 502px;
  border: 5px solid pink;
}
.feature-content-section-b
{
  border: 2px solid black;
}
